.card-item {
  border: 1px solid var(--gray);

  .title {
    font-size: 1.25rem;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid var(--gray);
  }

  .content {
    padding: 10px;
    color: var(--gray);
  }
}

.normal {
  width: 100%;
}

.special {
  width: fit-content;
}
