.about-wrapper {
  width: 100%;

  .about-fun-fact {
    width: 100%;
    .fun-fact-title {
      display: flex;
      align-items: center;
      font-size: 1.75rem;

      .sign {
        color: var(--primary);
      }
    }

    .fun-fact-content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .fun-fact-list {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;

        .fun-fact-item {
          display: inline-block;
          height: fit-content;
          padding: 8px 12px;
          color: var(--gray);
          border: 1px solid var(--gray);

          strong {
            color: var(--white);
          }
        }
      }
    }
  }
}

/* 2K/QHD (1920px-2559px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .about-wrapper {
    .about-title {
      margin-top: 100px;
      .main {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        margin-bottom: 10px;

        .sign {
          color: var(--primary);
        }
      }
      .sub {
        letter-spacing: 1.2px;
      }
    }
    .about-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 80px;

      .about-script {
        width: 50%;
        .script-text {
          width: 100%;
          margin-bottom: 40px;
          color: var(--gray);
          line-height: 2;
        }
      }

      .about-avatar {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .avatar-img {
          width: 550px;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .about-skill {
      width: 100%;
      margin-bottom: 100px;
      .skill-title {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        font-size: 1.75rem;

        .sign {
          color: var(--primary);
        }
      }

      .skill-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
      }
    }
    .about-fun-fact {
      margin-bottom: 100px;
      .fun-fact-title {
        margin-bottom: 50px;
      }
      .fun-fact-list {
        width: 50%;
      }
      .fun-fact-decor {
        width: 48%;
        position: relative;
        .decor-img {
          user-select: none;
          position: absolute;
          height: auto;
          object-fit: contain;
        }
        .img-1 {
          width: 100px;
          top: -100px;
          left: 150px;
        }
        .img-2 {
          width: 120px;
          top: -150px;
          right: 120px;
        }
        .img-3 {
          width: 200px;
          bottom: 0px;
          left: 150px;
        }
        .img-4 {
          width: 100px;
          bottom: 60%;
          left: 50%;
        }
        .img-5 {
          width: 100px;
          bottom: 100px;
          right: 40px;
        }
      }
    }
  }
}

/* Full HD (1600px-1919px) */
@media (min-width: 1600px) and (max-width: 1919px) {
  .about-wrapper {
    .about-title {
      margin-top: 50px;
      .main {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        margin-bottom: 10px;

        .sign {
          color: var(--primary);
        }
      }
      .sub {
        letter-spacing: 1.2px;
      }
    }
    .about-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      .about-script {
        width: 55%;
        .script-text {
          width: 100%;
          margin-bottom: 40px;
          color: var(--gray);
          line-height: 2;
        }
      }

      .about-avatar {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .avatar-img {
          width: 450px;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .about-skill {
      width: 100%;
      margin-bottom: 50px;
      .skill-title {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        font-size: 1.75rem;

        .sign {
          color: var(--primary);
        }
      }

      .skill-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
      }
    }
    .about-fun-fact {
      margin-bottom: 80px;
      .fun-fact-title {
        margin-bottom: 30px;
      }
      .fun-fact-list {
        width: 55%;
      }
      .fun-fact-decor {
        width: 43%;
        position: relative;
        .decor-img {
          user-select: none;
          position: absolute;
          height: auto;
          object-fit: contain;
        }
        .img-1 {
          width: 80px;
          top: 0px;
          left: 50px;
        }
        .img-2 {
          width: 100px;
          top: -40px;
          right: 80px;
        }
        .img-3 {
          bottom: 0px;
          left: 50px;
        }
        .img-4 {
          width: 80px;
          bottom: 45%;
          left: 45%;
        }
        .img-5 {
          width: 80px;
          bottom: 75px;
          right: 20px;
        }
      }
    }
  }
}

/* Mobile Devices (<=767px) */
@media (max-width: 767px) {
  .about-wrapper {
    .about-title {
      margin-top: 20px;
      .main {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        margin-bottom: 10px;

        .sign {
          color: var(--primary);
        }
      }
      .sub {
        letter-spacing: 1.2px;
      }
    }
    .about-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      margin-bottom: 30px;

      .about-script {
        width: 100%;
        .script-text {
          width: 100%;
          color: var(--gray);
          margin-bottom: 20px;
          line-height: 2;
        }
      }

      .about-avatar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        .avatar-img {
          width: 300px;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .about-skill {
      width: 100%;
      margin-bottom: 30px;
      .skill-title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        .sign {
          color: var(--primary);
        }
      }

      .skill-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
      }
    }
    .about-fun-fact {
      margin-bottom: 50px;
      .fun-fact-title {
        margin-bottom: 20px;
      }

      .fun-fact-content {
        .fun-fact-list {
          .fun-fact-item {
            width: 100%;
          }
        }
        .fun-fact-decor {
          display: none;
        }
      }
    }
  }
}
