.header-wrapper {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color: var(--background);
  z-index: 1001;

  .header-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    margin: 0 var(--page-margin);

    .header-logo {
      display: flex;
      align-items: center;

      .logo-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
}

/* 2K/QHD (1920px-2559px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .header-wrapper {
    .header-container {
      .mobile-menu-btn {
        display: none;
      }
      .header-nav {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        .header-nav-link {
          color: var(--gray);

          .nav-sign {
            color: var(--primary);
          }

          &:hover {
            color: var(--primary);
            transition: all 0.2s;
          }
        }

        .header-nav-link--active {
          color: var(--white);
        }
      }
    }
  }
}

/* Full HD (1600px-1919px) */
@media (min-width: 1600px) and (max-width: 1919px) {
  .header-wrapper {
    .header-container {
      .mobile-menu-btn {
        display: none;
      }
      .header-nav {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        .header-nav-link {
          color: var(--gray);

          .nav-sign {
            color: var(--primary);
          }

          &:hover {
            color: var(--primary);
            transition: all 0.2s;
          }
        }

        .header-nav-link--active {
          color: var(--white);
        }
      }
    }
  }
}

/* Mobile Devices (<=767px) */
@media (max-width: 767px) {
  .header-wrapper {
    .header-container {
      .header-nav {
        display: none;
      }
    }
  }
}
